@import url("https://fonts.googleapis.com/css2?family=Libertinus+Mono&family=Major+Mono+Display&family=Xanh+Mono:ital@0;1&family=Yuyu+Short&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

.repl-output {
  white-space: pre-wrap;
  font-family: "Libertinus Mono", monospace;
  font-size: small;
  font-weight: 400;
  font-style: normal;
  display: flex;
  flex-direction: column-reverse;
}

.repl-input {
  width: 100%;
  margin-bottom: 16px;
}

.repl-row {
  border-bottom: 1px solid grey;
  padding-bottom: 0.7em;
  margin-bottom: 1em;

  .row-input {
    p {
      background-color: lightgrey;
      padding: 0.5em;
      border-radius: 15px;
      border: 1px solid grey;
    }
  }

  .row-output {
  }
}
